body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-image: url(https://images.wallpaperscraft.ru/image/single/ovtsa_sobaka_trava_95236_1920x1080.jpg);
}
 /* цвет надписей в полоске */
a {
  color: #fff;
  text-decoration: none;
}
/* полоска размеры*/
header {
  min-height: 80px;
  min-width: 800px;
  width: 100%;
  display: flex;
}

/* надписи в полоске */
.class1 ul
{
  align-items: center;
  list-style: none;
  display: flex;
}

/* надписи */
.class1 ul li a {
  
  padding-top: 1rem;
  padding-right: 2rem;
}
/* лого */
.logo {

  font-size: 2rem;
}
/* полоска */
.class1 {
  width: 100%;
  background-color: rgb(0, 0, 0);
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* расположение надписей в центре */
.class2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* надпись в центре */
.class3 {
  color: rgb(0, 0, 0);
  height: 200px;
  width: 500px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.class4 {
  
  font-size: medium;
  color: rgb(0, 0, 0);
  height: 50px;
  width: 500px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
/* фон надписи */
.class3 span, .class4 span, .class5 span {
	background-color: rgba(247, 235, 235, 0.5);
	box-shadow: -10px 0 0 rgba(245, 227, 227, 0.5), 10px 0 0 rgba(255, 231, 231, 0.5);
}
/* тоже надписи */
.class4 {
  
  font-size: medium;
  color: rgb(0, 0, 0);
  height: 50px;
  width: 500px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
/* карточки перевертышы */
.cards{
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* размеры одной карточки */
.card {
  width: 300px;
  position: relative;
  height: 200px;
  padding: 5px;
}
/* собственно перевороты */
.card-flip {
  transition: all 2s;
  position:absolute;
  backface-visibility: hidden;
}
.card-back{
  transform:rotateY(180deg);
}
.card:hover .card-front{
  transform: rotateY(-180deg);
}
.card:hover .card-back{
  transform: rotateY(0); 
}

/* надписи за карточкой */
.class5 {
  background-image: url(https://images.wallpaperscraft.ru/image/single/ovtsa_kudri_trava_108810_300x168.jpg);
  padding: 30px;
}

.btn {
  background-color: rgb(0, 0, 0);
  padding: 0.5rem 1.5rem;
  position: fixed;
    bottom: 10px;
    left: 52%;
    margin-left: -104.5px;
}

@media(max-width:950px) {
  
}
